<div
  app-grid
  class="h-screen"
  container="true"
  justify="center"
  alignItems="center"
>
  <div app-grid item="true" xs="4">
    <form
      class="login-form"
      [formGroup]="form"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <!-- Email Field -->
      <mat-form-field class="login-full-width">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="text"
          name="email"
          matInput
          placeholder="Ex. nakesuser@gmail.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- End - Email Field -->

      <!-- Password Field -->
      <mat-form-field class="login-full-width">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          name="password"
          type="password"
          matInput
          placeholder="Password"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid password
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- End - Password Field -->
      <!-- Submit Button -->
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>
