<section class="my-6 relative h-full py-16">
  <div class="xl:container mx-auto py-7 my-16 px-7">
    <div class="text-center text-red-900">
      <h5 class="error-text">500 <br> error</h5>
      <div class="mat-typography">
        <p>It's always time for a coffee break.</p>
        <p>We should be back by the time you finish your coffee.</p>
        <code>
          <pre class="whitespace-pre-line">
            {{error.details}}
          </pre>
        </code>
      </div>
    </div>
  </div>
</section>
<!-- <h4>
  Internal server error - refreshing the page will make the error disappear!
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this then Angular probably not to blame
  </p>
  <p>What to do next?</p>
  <ul>
    <li>Open the chrome dev tools</li>
    <li>Check the failing request</li>
    <li>Examine the request URL - make sure it is correct</li>
    <li>
      Reproduce the error in Postman - if we see the same response, then the
      issue is not with Angular
    </li>
  </ul>
  <p>
    Following is the stack trace - this is where you investigation should start!
  </p>
  <code class="mt-5" style="background-color: whitesmoke">{{
    error.details
  }}</code>
</ng-container> -->
