<h2 style="text-align: center; margin-top: 18px" class="h2">
  Jadwal Imunisasi Anak Usia 0-18 Tahun
</h2>
<h2 style="text-align: center; margin-top: -10px" class="h2">
  Rekomendasi Ikatan Dokter Anak Indonesia Tahun 2017
</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Imunisasi</th>
      <th scope="col">Usia</th>
    </tr>
    <tr>
      <td rowspan="2"></td>
      <td scoope="col">Bulan</td>
      <td scoope="col">Tahun</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Hepatitis B</th>
      <!-- <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td> -->
    </tr>
    <tr>
      <th scope="row">Polio</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">BCG</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">DPT</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Hib</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">PCV</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Rotavirus</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Influenza</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Campak</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">MMR</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Hepatitis A</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Varisela</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">HPV</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Japanese Enchepalitis</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Dengue</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
