<h2 style="text-align: center; margin-top: 18px" class="h2">
  Jadwal Imunisasi Anak Usia 0-18 Tahun
</h2>
<h2 style="text-align: center; margin-top: -10px" class="h2">
  Rekomendasi Ikatan Dokter Anak Indonesia Tahun 2017
</h2>

<table class="table-auto" autp>
  <thead>
    <tr>
      <th class="px-4 py-2 text-blue-600">Title</th>
      <th class="px-4 py-2 text-blue-600">Author</th>
      <th class="px-4 py-2 text-blue-600">Views</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        Intro to CSS
      </td>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        Adam
      </td>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        858
      </td>
    </tr>
    <tr class="bg-blue-200">
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        A Long and Winding Tour of the History of UI Frameworks and Tools and
        the Impact on Design
      </td>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        Adam
      </td>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        112
      </td>
    </tr>
    <tr>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        Intro to JavaScript
      </td>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        Chris
      </td>
      <td class="border border-blue-500 px-4 py-2 text-blue-600 font-medium">
        1,280
      </td>
    </tr>
  </tbody>
</table>

<!-- <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Views</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Intro to CSS</td>
      <td>Adam</td>
      <td>858</td>
    </tr>
    <tr class="bg-emerald-200">
      <td>
        A Long and Winding Tour of the History of UI Frameworks and Tools and
        the Impact on Design
      </td>
      <td>Adam</td>
      <td>112</td>
    </tr>
    <tr>
      <td>Intro to JavaScript</td>
      <td>Chris</td>
      <td>1,280</td>
    </tr>
  </tbody>
</table> -->

<!-- <table>
  <thead>
    <tr>
      <th scope="col">Imunisasi</th>
      <th scope="col">Usia</th>
    </tr>
    <tr>
      <td rowspan="2"></td>
      <td scoope="col">Bulan</td>
      <td scoope="col">Tahun</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Hepatitis B</th>
    </tr>
    <tr>
      <th scope="row">Polio</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">BCG</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">DPT</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Hib</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">PCV</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Rotavirus</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Influenza</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Campak</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">MMR</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Hepatitis A</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Varisela</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">HPV</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Japanese Enchepalitis</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">Dengue</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->
