.lebar-165 {
  width: 165px;
  height: 165px;
}
.accent-section {
  @apply text-black text-opacity-60 uppercase flex items-center;
  &::after {
    @apply block h-px bg-black bg-opacity-60 w-full ml-2;
    content: "";
  }
}

td {
  vertical-align: middle;
  padding-bottom: 8px;
  &:not(:first-child){
    padding-left:16px;
  }
}

