<footer class="pt-5 pb-3 bg-footer flex-shrink-0">
  <div class="text-center">
    <div class="row">
      <div class="col-4">
        <h2 class="text-left">Kontak</h2>
        <div class="row">
          <div class="col-1 text-left">
            <img
              style="width: 250%"
              src="../../../assets/images/maps-and-flags.png"
              alt=""
            />
          </div>
          <div class="col-11 text-left">
            <p>
              Jl Dr.Suharjo, <span>Jakarta Selatan, </span>
              <span>DKI Jakarta, </span> <span>13042</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 text-left">
            <img
              style="width: 250%"
              src="../../../assets/images/whatsapp.png"
              alt=""
            />
          </div>
          <div class="col-11 text-left">
            <p>+62 888 8888 8888</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h2>Sosial Media</h2>
        <div class="row">
          <div class="col-3">
            <img
              style="width: 50%"
              src="../../../assets/images/facebook-circular-logo.png"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              style="width: 50%"
              src="../../../assets/images/instagram.png"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              style="width: 50%"
              src="../../../assets/images/youtube.png"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              style="width: 50%"
              src="../../../assets/images/twitter.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-4">
        <h2>Subscribe</h2>
        <form>
          <div class="form-row">
            <div class="form-group mx-auto">
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Email"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
