<table class="table">
  <tbody>
    <tr>
      <th scope="col">Lingkar Leher</th>
      <th scope="col">
        <button mat-raised-button color="accent">Input</button>
      </th>
      <th scope="col">
        <button mat-raised-button color="primary">Lihat</button>
      </th>
    </tr>
    <tr>
      <th scope="col">Status Gizi (BB/TB)</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Status Gizi (IMT/U)</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Status Gizi (IP/TB)</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">KPSP</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Daya Dengar</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Daya Lihat</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Pemeriksaan GPPH</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Pemeriksaan KMPE</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Pemeriksaan M-CHAT</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </tbody>
</table>
