<div class="container">
  <h2 class="text-center" mat-dialog-title>Hasil Pemeriksaan Kesehatan GPPH</h2>
  <article class="">
    <section class="users">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Tanggal Pemeriksaan</th>
            <th scope="col">Point</th>
            <th scope="col">Interpretasi</th>
            <th scope="col">Intervensi</th>
          </tr>
        </thead>
        <tbody *ngFor="let kmpe of resultKmpe">
          <tr class="pointer">
            <th scope="row">{{ kmpe.pemeriksaanKmpeId }}</th>
            <td>{{ kmpe.jumlahYa }}</td>
            <td>{{ kmpe.jumlahYa }}</td>
            <td>{{ kmpe.interpretasi }}</td>
            <td>{{ kmpe.intervensi }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>
</div>
