<div class="row" *ngIf="memberNakes">
  <!-- Profile -->
  <div class="col-4">
    <h1>Edit Your Profile</h1>
  </div>
  <!-- End - Profile -->
  <!-- Alert Information -->
  <div class="col-8">
    <div class="alert alert-info">
      <strong>Information</strong>: You have made changes, any unsaved changes
      will be lost
    </div>
  </div>
  <!-- End - Alert Information -->
  <!-- Card Nakes Profile -->
  <div class="col-6">
    <div class="card">
      <img
        src="{{ memberNakes.photoUrl || './assets/images/user.png' }}"
        alt="{{ memberNakes.username }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>Nama Tenaga Kesehatan:</strong>
          <p class="">{{ memberNakes.fullName }}</p>
        </div>
        <div>
          <strong>Umur:</strong>
          <p class="">{{ memberNakes.age }}</p>
        </div>
        <div>
          <strong>Tempat Pelayanan:</strong>
          <p class="">{{ memberNakes.tempatPelayanan }}</p>
        </div>
        <div>
          <strong>No STR Tenaga Kesehatan:</strong>
          <p class="">{{ memberNakes.noStrTenagaKesehatan }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-block">Save</button>
      </div>
    </div>
  </div>
  <!-- End - Card Nakes Information -->
</div>
