<section class="my-6 relative h-full">
  <div class="xl:container mx-auto py-7 my-16 px-7">
    <!-- Titile -->
    <h2 class="add-anak">Tambah Data Anak</h2>
    <form [formGroup]="PostDataAnak" (ngSubmit)="addDataAnak()">
      <!-- Profile Anak -->
      <h2 style="margin-left: 10px">Profile Anak</h2>
      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="namaAnak"
            >Nama Anak</label
          >
          <input
            formControlName="namaLengkap"
            name="namaAnak"
            placeholder="Nama Anak"
            type="text"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="namaAnak"
          />
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="nik"
            >NIK</label
          >
          <input
            formControlName="nik"
            name="nik"
            placeholder="NIK"
            type="number"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="nik"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="jenisKelaminAnak"
            >Jenis Kelamin</label
          >
          <div class="relative">
            <select
              formControlName="jenisKelaminAnak"
              class="
                block
                appearance-none
                w-full
                bg-gray-200
                border border-gray-200
                text-gray-700
                py-3
                px-4
                pr-8
                rounded
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="jenisKelaminAnak"
            >
              <option
                [value]="jenisKelamin"
                *ngFor="let jenisKelamin of jenisKelamins"
              >
                {{ jenisKelamin }}
              </option>
            </select>
            <div
              class="
                pointer-events-none
                absolute
                inset-y-0
                right-0
                flex
                items-center
                px-2
                text-gray-700
              "
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="tanggalLahirAnak"
            >Tanggal Lahir</label
          >
          <input
            formControlName="tanggalLahirAnak"
            type="text"
            placeholder="Tanggal Lahir"
            class=""
            bsDatepicker
            [bsConfig]="{
              dateInputFormat: 'DD-MM-YYYY',
              containerClass: 'theme-blue'
            }"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="alamat"
            >Alamat Lengkap</label
          >
          <input
            formControlName="alamat"
            type="text"
            placeholder="Alamat Lengkap"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="alamat"
          />
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="kontak"
            >Kontak</label
          >
          <input
            formControlName="kontak"
            type="text"
            placeholder="Kontak"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="kontak"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="photoAnakUrl"
            >Photo Anak</label
          >
          <app-upload-photo-anak
            (onUploadFinished)="uploadFinished($event)"
          ></app-upload-photo-anak>
        </div>
      </div>
      <!-- Profile Anak -->

      <!-- Riwayat Penyakit dan Pengobatan -->
      <h2 style="margin-left: 10px">Riwayat Penyakit dan Pengobatan</h2>
      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="jumlahSaudara"
            >Jumlah Saudara</label
          >
          <input
            formControlName="jumlahSaudara"
            type="number"
            placeholder="Jumlah Saudara"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="jumlahSaudara"
          />
        </div>
      </div>
      <!-- End - Riwayat Penyakit dan Pengobatan -->

      <!-- Riwayat Kelahiran -->
      <h2 style="margin-left: 10px">Riwayat Kelahiran</h2>
      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="beratBadan"
            >Berat Badan</label
          >
          <input
            formControlName="beratBadan"
            type="number"
            placeholder="Berat Badan"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="beratBadan"
          />
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="panjangLahir"
            >Panjang Lahir</label
          >
          <input
            formControlName="panjangLahir"
            type="number"
            placeholder="Panjang Lahir"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="panjangLahir"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="apgharScore"
            >Apghar Score</label
          >
          <input
            formControlName="apgarScore"
            type="number"
            placeholder="Apgar Score"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="apgharScore"
          />
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="kelahiranDibantuOleh"
            >Kelahiran Dibantu Oleh</label
          >
          <input
            formControlName="kelahiranDibantuOleh"
            type="text"
            placeholder="Kelahiran Dibantu Oleh"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="kelahiranDibantuOleh"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="lainLain"
            >Lain - Lain (Masalah Ketika Lahir)</label
          >
          <input
            formControlName="lainLain"
            type="text"
            placeholder="Lain - Lain (Masalah Ketika Lahir)"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="lainLain"
          />
        </div>
      </div>
      <!-- End - Kelahiran -->

      <!-- Riwayat Orang Tua -->
      <h2 style="margin-left: 10px">Riwayat Orang Tua</h2>
      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="namaAyah"
            >Nama Ayah</label
          >
          <input
            formControlName="namaAyah"
            type="text"
            placeholder="Nama Ayah"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="namaAyah"
          />
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="namaIbu"
            >Nama Ibu</label
          >
          <input
            formControlName="namaIbu"
            type="text"
            placeholder="Nama Ibu"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="namaIbu"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="tanggalLahirAyah"
            >Tanggal Lahir Ayah
          </label>
          <input
            formControlName="tanggalLahirAyah"
            type="text"
            placeholder="Tanggal Lahir Ayah"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="tanggalLahirAyah"
            bsDatepicker
            [bsConfig]="{
              dateInputFormat: 'DD-MM-YYYY',
              containerClass: 'theme-blue'
            }"
          />
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="tanggalLahirIbu"
            >Tanggal Lahir Ibu</label
          >
          <input
            formControlName="tanggalLahirIbu"
            type="text"
            placeholder="Tanggal Lahir Ibu"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="tanggalLahirIbu"
            bsDatepicker
            [bsConfig]="{
              dateInputFormat: 'DD-MM-YYYY',
              containerClass: 'theme-blue'
            }"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="pekerjaanAyah"
            >Pekerjaan Ayah</label
          >
          <div class="relative">
            <select
              formControlName="pekerjaanAyah"
              class="
                block
                appearance-none
                w-full
                bg-gray-200
                border border-gray-200
                text-gray-700
                py-3
                px-4
                pr-8
                rounded
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="pekerjaanAyah"
            >
              <option [value]="pekerjaan" *ngFor="let pekerjaan of pekerjaan">
                {{ pekerjaan }}
              </option>
            </select>
            <div
              class="
                pointer-events-none
                absolute
                inset-y-0
                right-0
                flex
                items-center
                px-2
                text-gray-700
              "
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="pekerjaanIbu"
            >Pekerjaan Ibu</label
          >
          <div class="relative">
            <select
              formControlName="pekerjaanIbu"
              class="
                block
                appearance-none
                w-full
                bg-gray-200
                border border-gray-200
                text-gray-700
                py-3
                px-4
                pr-8
                rounded
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="pekerjaanIbu"
            >
              <option [value]="pekerjaan" *ngFor="let pekerjaan of pekerjaan">
                {{ pekerjaan }}
              </option>
            </select>
            <div
              class="
                pointer-events-none
                absolute
                inset-y-0
                right-0
                flex
                items-center
                px-2
                text-gray-700
              "
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="penghasilanOrangTua"
            >Penghasilan Orang Tua</label
          >
          <input
            formControlName="penghasilanOrangTua"
            type="number"
            placeholder="Penghasilan Orang Tua"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="penghasilanOrangTua"
          />
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="anggotaRumahTangga"
            >Anggota Rumah Tangga</label
          >
          <input
            formControlName="anggotaRumahTangga"
            type="number"
            placeholder="Anggota Rumah Tangga"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="anggotaRumahTangga"
          />
        </div>
      </div>

      <div class="mt-2 flex space-x-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="tandaTanganOrangTua"
            >Tanda Tangan Orang Tua</label
          >
          <app-upload-ttd
            (onUploadTtdFinished)="uploadTtdFinished($event)"
          ></app-upload-ttd>
        </div>
      </div>
      <!-- End - Riwayat Orang Tua -->

      <!-- Submit Button -->
      <button type="submit" mat-button>TAMBAH <mat-icon>add</mat-icon></button>
      <button mat-button (click)="cancelAddAnak()">
        KEMBALI <mat-icon>cancel</mat-icon>
      </button>
      <!-- End - Submit Button -->
    </form>
    <!-- End - Title -->
  </div>
</section>
