<h2 mat-dialog-title>Petunjuk KMPE</h2>
<mat-dialog-content class="mat-typography">
  <!-- KMPE -->
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Tanyakan setiap pertanyaan dengan lambat, jelas dan nyaring, satu
        persatu perilaku yang tertulis pada KMPE kepada orang tua/pengasuh anak
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Catat jawaban YA, kemudian hitung jumlah jawaban YA
      </li></mat-list-item
    >
  </mat-list>
  <!-- End - KMPE -->

  <!-- Wool Merah Table -->
  <form [formGroup]="formKmpe" (ngSubmit)="postKmpe()">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Pertanyaan</th>
          <th style="width: 50px" scope="col">Ya</th>
          <th style="width: 50px" scope="col">Tidak</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row 1 -->
        <tr>
          <th scope="row">1</th>
          <td>
            Apakah anak anda sering bereaksi negatif, marah atau tegang tanpa
            sebab yang jelas? (bereaksi negatif contohnya rewel, tidak sabaran,
            banyak menangis, mudah tersinggung atau bereaksi berlebihan bila
            merasa situasi tidak seperti yang diharapkannya atau kemauannya
            tidak terpenuhi)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question1"
                class="form-check-input"
                type="radio"
                name="question1"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question1"
                class="form-check-input"
                type="radio"
                name="question1"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 1 -->
        <!-- Row 2 -->
        <tr>
          <th scope="row">2</th>
          <td>
            Apakah anak anda tampak lebih memilih untuk menyendiri atau bermain
            sendiri, atau menghindar dari anak seumurnya atau orang dewasa?
            (ingin sendirian, menyendiri dengan ekspresi murung, tidak
            bersemangat, sedih, atau kehilangan minat terhadap hal−hal yang
            biasa sangat dinikmati)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question2"
                class="form-check-input"
                type="radio"
                name="question2"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question2"
                class="form-check-input"
                type="radio"
                name="question2"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 2 -->
        <!-- Row 3 -->
        <tr>
          <th scope="row">3</th>
          <td>
            Apakah anak anda cenderung bersikap menentang?(membantah, melawan,
            tidak mau menurut atau melakukan hal yang sebaliknya dari apa yang
            diminta, serta tampak tidak peduli ketika diberitahu atau ditegur)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question3"
                class="form-check-input"
                type="radio"
                name="question3"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question3"
                class="form-check-input"
                type="radio"
                name="question3"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 3 -->
        <!-- Row 4 -->
        <tr>
          <th scope="row">4</th>
          <td>
            Apakah anak anda mudah takut atau cemas berlebihan tanpa sebab yang
            jelas ? (misalnya takut pada binatang atau benda yang tidak
            berbahaya, terlihat cemas ketika tidak melihat ibu/pengasuhnya)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question4"
                class="form-check-input"
                type="radio"
                name="question4"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question4"
                class="form-check-input"
                type="radio"
                name="question4"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 4 -->
        <!-- Row 5 -->
        <tr>
          <th scope="row">5</th>
          <td>
            Apakah anak anda sering sulit konsentrasi, perhatiannya mudah
            teralihkan atau banyak bergerak / tidak bisa diam? (misalnya anak
            tidak bisa bertahan lama untuk bermain dengan satu permainan, mudah
            mengalihkan perhatian bila ada hal lain yang lebih menarik perhatian
            seperti bunyi atau gerakan, tidak bisa duduk dengan tenang, banyak
            bergerak atau cenderung berjalan / berlari mondar-mandir)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question5"
                class="form-check-input"
                type="radio"
                name="question5"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question5"
                class="form-check-input"
                type="radio"
                name="question5"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 5 -->
        <!-- Row 6 -->
        <tr>
          <th scope="row">6</th>
          <td>
            Apakah anak anda lebih banyak menempel / selalu minta ditemani,
            mudah cemas dan tidak percaya diri ? (seakan minta perlindungan atau
            minta ditemani pada berbagai situasi, terutama ketika berada dalam
            situasi baru atau ada orang yang baru dikenalnya; mengekspresikan
            kecemasan serta terlihat tidak percaya diri)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question6"
                class="form-check-input"
                type="radio"
                name="question6"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question6"
                class="form-check-input"
                type="radio"
                name="question6"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 6 -->
        <!-- Row 7 -->
        <tr>
          <th scope="row">7</th>
          <td>
            Apakah anak anda menunjukkan adanya perubahan pola tidur? (Seperti
            sulit tidur, terjaga sepanjang hari, sering terbangun di waktu tidur
            malam oleh karena mimpi buruk, mengigau, menangis dalam tidurnya)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question7"
                class="form-check-input"
                type="radio"
                name="question7"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question7"
                class="form-check-input"
                type="radio"
                name="question7"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 7 -->
        <!-- Row 8 -->
        <tr>
          <th scope="row">8</th>
          <td>
            Apakah anak anda mengalami perubahan pola makan dari yang biasanya?
            (kehilangan nafsu makan, tidak mau makan sama sekali, atau
            sebaliknya makan berlebihan, sangat memilih jenis makanan atau
            membiarkan makanan lama di mulut tanpa dikunyah/ diemut)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question8"
                class="form-check-input"
                type="radio"
                name="question8"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question8"
                class="form-check-input"
                type="radio"
                name="question8"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 8 -->
        <!-- Row 9 -->
        <tr>
          <th scope="row">9</th>
          <td>
            Apakah anak anda seringkali mengeluh sakit kepala, sakit perut atau
            keluhan fisik lainnya dalam waktu-waktu tertentu?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question9"
                class="form-check-input"
                type="radio"
                name="question9"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question9"
                class="form-check-input"
                type="radio"
                name="question9"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 9 -->
        <!-- Row 10 -->
        <tr>
          <th scope="row">10</th>
          <td>
            Apakah anak anda mudah putus asa atau frustasi dan sering
            menunjukkan emosi yang negatif ? (Seperti sedih atau kecewa yang
            berkepanjangan, mudah mengeluh, marah atau protes. Misal ketika anak
            merasa kesulitan dalam menggambar, lalu berteriak minta tolong,
            marah, atau kertasnya disobek)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question10"
                class="form-check-input"
                type="radio"
                name="question10"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question10"
                class="form-check-input"
                type="radio"
                name="question10"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 10 -->
        <!-- Row 11 -->
        <tr>
          <th scope="row">11</th>
          <td>
            Apakah anak anda menunjukkan kemunduran pola perilaku dari kemampuan
            yang sudah dimilikinya ? (seperti mengompol kembali, menghisap
            jempol, atau tidak mau berpisah dengan orangtua/pengasuhnya)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question11"
                class="form-check-input"
                type="radio"
                name="question11"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question11"
                class="form-check-input"
                type="radio"
                name="question11"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 11 -->
        <!-- Row 12 -->
        <tr>
          <th scope="row">12</th>
          <td>
            Apakah anak anda sering berkelahi, bertengkar, atau menyerang anak
            lain baik secara verbal maupun non-verbal ? (seperti misalnya
            mengejek, meneriaki, merebut permainan, atau memukul temannya)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question12"
                class="form-check-input"
                type="radio"
                name="question12"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question12"
                class="form-check-input"
                type="radio"
                name="question12"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 12 -->
        <!-- Row 13 -->
        <tr>
          <th scope="row">13</th>
          <td>
            Apakah anak anda sering diperlakukan tidak menyenangkan oleh anak
            lain atau orang dewasa? (seperti misalnya ditinggal bermain,
            dihindari, diejek, dikata−katai, direbut mainannya atau disakiti
            secara fisik)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question13"
                class="form-check-input"
                type="radio"
                name="question13"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question13"
                class="form-check-input"
                type="radio"
                name="question13"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 13 -->
        <!-- Row 14 -->
        <tr>
          <th scope="row">14</th>
          <td>
            Apakah anak anda cenderung berperilaku merusak atau cenderung selalu
            ingin menang atau menguasai. (Misalnya merusak benda, menyakiti
            dirinya atau binatang)
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question14"
                class="form-check-input"
                type="radio"
                name="question14"
                [value]="value.yes"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question14"
                class="form-check-input"
                type="radio"
                name="question14"
                [value]="value.no"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 14 -->
        <!--  -->
        <tr>
          <th colspan="2" scope="row">Jumlah</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="2" scope="row">Nilai Total</th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <!-- End - Wool Merah Table -->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
