.btn-auth {
  @apply uppercase;
  border-radius: 50px;
  &.mat-raised-button.mat-accent.accent {
    background-color: #f0f8fd;
    border: 1px solid #66cbff;
  }
}

.mat-icon {
  @apply text-blue-500;
  height: 40px;
  font-size: 40px;
  width: 40px;
}
