<h2 mat-dialog-title>Petunjuk Pemeriksaan Status Gizi IP/TB</h2>
<mat-dialog-content class="mat-typography">
  <!-- Timbangan Bayi -->
  <h3 style="margin-bottom: 10px">Menggunakan timbangan bayi</h3>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Timbangan bayi digunakan untuk menimbang anak sampai umur 2 tahun atau
        selama anak masih bisa berbaring/duduk tenang.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Letakkan timbangan pada meja yang datar dan tidak mudah bergoyang.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Lihat posisi jarum atau angka harus menunjuk ke angka 0.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Bayi sebaiknya telanjang, tanpa topi, kaus kaki, sarung tangan.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Baringkan bayi dengan hati−hati di atas timbangan sampai berhenti.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Baca angka yang ditunjukkan oleh jarum timbangan atau angka timbangan.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Bila bayi terus menerus bergerak, perhatikan gerakan jarum, baca angka
        di tengah-tengah antara gerakan jarum ke kanan dan kekiri.
      </li></mat-list-item
    >
  </mat-list>
  <!-- End - Timbangan Bayi -->

  <!-- Timbangan Cincin -->
  <h3 class="mt-4">Menggunakan timbangan dacin</h3>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Pastikan dacin masih layak digunakan, periksa dan letakkan banul geser
        pada angka nol. Jika ujung kedua paku dacin tidak dalam posisi lurus,
        maka timbangan tidak layak digunakan dan harus dikalibrasi.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Masukan Balita ke dalam sarung timbang dengan pakaian seminimal mungkin
        dan geser bandul sampai jarum tegak lurus.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Baca berat badan Balita dengan melihat angka di ujung bandul geser.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>Catat hasil penimbangan dengan benar</li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Kembalikan bandul ke angka nol dan keluarkan Balita dari sarung timbang.
      </li></mat-list-item
    >
  </mat-list>
  <!-- End - Timbangan Cincin -->

  <!-- Timbangan Injak (Timbangan Digital) -->
  <h3 class="mt-4">Menggunakan timbangan injak (timbangan digital)</h3>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Letakkan timbangan di lantai yang datar sehingga tidak mudah bergerak.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Lihat posisi jarum atau angka harus menunjuk ke angka 0.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Anak sebaiknya memakai baju sehari−hari yang tipis, tidak memakai alas
        kaki, jaket, topi, jam tangan, kalung, dan tidak memegang sesuatu.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>Anak berdiri di atas timbangan tanpa dipegangi.</li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>Lihat jarum timbangan sampai berhenti.</li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Baca angka yang ditunjukkan oleh jarum timbangan atau angka timbangan.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Bila anak terus menerus bergerak, perhatikan gerakan jarum, baca angka
        di tengah tengah antara gerakan jarum ke kanan dan ke kiri.
      </li></mat-list-item
    >
  </mat-list>
  <!-- End - Timbangan Injak (Timbangan Digital) -->

  <!-- Wool Merah Table -->
  <div class="container">
    <form [formGroup]="formGiziIpTb" (ngSubmit)="postDayaLihat()">
      <mat-form-field appearance="fill" class="mr-5">
        <mat-label>Tinggi Badan</mat-label>
        <input type="number" matInput formControlName="tinggiBadan" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mr-5">
        <mat-label>Indeks Panjang</mat-label>
        <input type="number" matInput formControlName="indeksPanjang" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mr-5">
        <mat-label>ZCode</mat-label>
        <input type="number" matInput formControlName="zCode" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  <!-- End - Wool Merah Table -->
</mat-dialog-content>
<!-- Wool Merah Table -->
<!-- <button mat-button>Submit</button> -->

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
