<div class="container">
  <h2 class="text-center" mat-dialog-title>
    Hasil Pemeriksaan Kesehatan M-CHAT
  </h2>
  <article class="">
    <section class="users">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Tanggal Pemeriksaan</th>
            <th scope="col">Total Critical Yes</th>
            <th scope="col">Total Critical No</th>
            <th scope="col">Total Yes</th>
            <th scope="col">Total No</th>
            <th scope="col">Interpretasi</th>
            <th scope="col">Intervensi</th>
          </tr>
        </thead>
        <tbody *ngFor="let mchat of resultMchat">
          <tr class="pointer">
            <th scope="row">{{ mchat.pemeriksaanMchatId }}</th>
            <td>{{ mchat.totalCriticalQuestionNo }}</td>
            <td>{{ mchat.totalCriticalQuestionYes }}</td>
            <td>{{ mchat.totalCriticalQuestionNo }}</td>
            <td>{{ mchat.totalQuestionYes }}</td>
            <td>{{ mchat.totalQuestionNo }}</td>
            <td>{{ mchat.interpretasi }}</td>
            <td>{{ mchat.intervensi }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>
</div>
