<div>
  <!--  -->
  <div class="background">
    <img class="image" src="../../../assets/images/Img1.jpg" alt="" />
    <h1 class="text-top-img font-weight-bold">Lorem Ipsum</h1>
  </div>
  <!--  -->
  <!-- Tentang Kami -->
  <div class="container">
    <div class="row m-bottom">
      <div class="col-6">
        <img class="img-anak" src="../../../assets/images/Img2.jpg" alt="" />
      </div>
      <div class="col-6">
        <h2 class="font-weight-bold">Tentang Kami</h2>
        <h2 class="txt">Lorem Ipsum</h2>
        <h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis libero
          tenetur, expedita tempore quis minima ducimus magnam vel quo eum eos
          delectus cupiditate eius aliquam earum, officia iure dicta aspernatur!
        </h2>
      </div>
    </div>
  </div>
  <!-- End - Tentang Kami -->
  <!-- Misi Kami -->
  <div class="container">
    <div class="row m-bottom">
      <div class="col-6">
        <h2 class="font-weight-bold">Misi Kami</h2>
        <h2 class="txt">Lorem Ipsum</h2>
        <h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis libero
          tenetur, expedita tempore quis minima ducimus magnam vel quo eum eos
          delectus cupiditate eius aliquam earum, officia iure dicta aspernatur!
        </h2>
      </div>
      <div class="col-6">
        <img class="img-misi" src="../../../assets/images/Img3.jpg" alt="" />
      </div>
    </div>
  </div>
  <!-- End - Misi Kami -->
  <!-- What We Do -->
  <div class="container">
    <h1 class="text-center font-weight-bold mb-5">What We Do</h1>
    <div class="row m-bottom">
      <div class="col-4">
        <div class="card bg-custom">
          <div class="card-body">
            <div class="container">
              <img
                class="mx-auto d-block my-4"
                style="width: 30%"
                src="../../../assets/images/bar-chart.png"
                alt=""
              />
              <p class="text-white">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
                eum illum, totam sequi deleniti doloremque sed voluptas rem ad,
                vitae reiciendis, beatae distinctio deserunt. Numquam cum eos et
                accusantium doloremque.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-custom">
          <div class="card-body">
            <div class="container">
              <img
                class="mx-auto d-block my-4"
                style="width: 30%"
                src="../../../assets/images/document.png"
                alt=""
              />
              <p class="text-white">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
                eum illum, totam sequi deleniti doloremque sed voluptas rem ad,
                vitae reiciendis, beatae distinctio deserunt. Numquam cum eos et
                accusantium doloremque.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-custom">
          <div class="card-body">
            <div class="container">
              <img
                class="mx-auto d-block my-4"
                style="width: 30%"
                src="../../../assets/images/stethoscope.png"
                alt=""
              />
              <p class="text-white">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
                eum illum, totam sequi deleniti doloremque sed voluptas rem ad,
                vitae reiciendis, beatae distinctio deserunt. Numquam cum eos et
                accusantium doloremque.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End - What We Do -->
  <!-- Tim Kami -->
  <div class="container">
    <h1 class="text-center font-weight-bold mb-5">Tim Kami</h1>
    <div class="row mb-5">
      <div class="col-4">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/images/dokter.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h1 class="card-title">Nama</h1>
            <p class="card-text">Deskripsi</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/images/dokter.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h1 class="card-title">Nama</h1>
            <p class="card-text">Deskripsi</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/images/dokter.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h1 class="card-title">Nama</h1>
            <p class="card-text">Deskripsi</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End - Tim Kami -->
</div>
