<h2 mat-dialog-title>Petunjuk GPPH</h2>
<mat-dialog-content class="mat-typography">
  <!-- KPSP -->
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Ajukan pertanyaan dengan lambat, jelas dan nyaring, satu persatu
        perilaku yang tertulis pada formulir deteksi dini GPPH. Jelaskan kepada
        orang tua/pengasuh anak untuk tidak ragu−ragu atau takut menjawab..
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Lakukan pengamatan kemampuan anak sesuai dengan pertanyaan pada formulir
        deteksi dini GPPH.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Keadaan yang ditanyakan/diamati ada pada anak dimanapun anak berada,
        misal ketika di rumah, sekolah, pasar, toko, dll. Setiap saat dan ketika
        anak dengan siapa saja.
      </li></mat-list-item
    >
  </mat-list>

  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Jelaskan kepada orangtua agar tidak ragu−ragu atau takut menjawab, oleh
        karena itu pastikan ibu/pengasuh anak mengerti apa yang ditanyakan
        kepadanya.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Catat jawaban dan hasil pengamatan perilaku anak selama dilakukan
        pemeriksaan.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Teliti kembali apakah semua pertanyaan telah dijawab.
      </li></mat-list-item
    >
  </mat-list>
  <!-- End - KPSP -->

  <!--  -->

  <!-- Wool Merah Table -->
  <form [formGroup]="formGpph" (ngSubmit)="postGpph()">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Kegiatan Yang Diamati</th>
          <th style="width: 50px" scope="col">0</th>
          <th style="width: 50px" scope="col">1</th>
          <th style="width: 50px" scope="col">2</th>
          <th style="width: 50px" scope="col">3</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row 1 -->
        <tr>
          <th scope="row">1</th>
          <td>
            Pada waktu bayi terlentang, apakah masing-masing lengan dan tungkai
            bergerak dengan mudah? Jawaban TIDAK bila salah satu atau kedua
            tungkai atau lengan bayi bergerak tak terarah/tak terkendali
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question1"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question1"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question1"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question1"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 1 -->
        <!-- Row 2 -->
        <tr>
          <th scope="row">2</th>
          <td>
            Pada waktu bayi terlentang apakah ia melihat dan menatap wajah anda?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question2"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question2"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question2"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question2"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 2 -->
        <!-- Row 3 -->
        <tr>
          <th scope="row">3</th>
          <td>
            Apakah bayi dapat mengeluarkan suara-suara lain (ngoceh) selain
            menangis?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question3"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question3"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question3"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question3"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 3 -->
        <!-- Row 4 -->
        <tr>
          <th scope="row">4</th>
          <td>
            Pada waktu anda mengajak bayi berbicara dan tersenyum, apakah ia
            tersenyum kembali kepada anda?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question4"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question4"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question4"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question4"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 4 -->
        <!-- Row 5 -->
        <tr>
          <th scope="row">5</th>
          <td>
            Apakah bayi suka tertawa keras walau tidak digelitik atau
            diraba−raba?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question5"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question5"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question5"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question5"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 5 -->
        <!-- Row 6 -->
        <tr>
          <th scope="row">6</th>
          <td>
            Ambil wool merah, letakkan di atas wajah di depan mata, gerakkan
            wool dari samping kiri ke kanan kepala. Apakah ia dapat mengikuti
            gerakan anda dengan menggerakkan kepalanya dari kanan/kiri ke
            tengah?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question6"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question6"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question6"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question6"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 6 -->
        <!-- Row 7 -->
        <tr>
          <th scope="row">7</th>
          <td>
            Ambil wool merah, letakkan di atas wajah di depan mata, gerakkan
            wool dari samping kiri ke kanan kepala. Apakah ia dapat mengikuti
            gerakan anda dengan menggerakkan kepalanya dari satu sisi hampir
            sampai pada sisi yang lain?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question7"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                value="{{ value.satu }}"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question7"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question7"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question7"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 7 -->
        <!-- Row 8 -->
        <tr>
          <th scope="row">8</th>
          <td>
            Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
            mengangkat kepalanya seperti pada gambar ini?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question8"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question8"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question8"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question8"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 8 -->
        <!-- Row 9 -->
        <tr>
          <th scope="row">9</th>
          <td>
            Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
            mengangkat kepalanya sehingga membentuk sudut 45 ̊ seperti pada
            gambar?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question9"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question9"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question9"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question9"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 9 -->
        <!-- Row 10 -->
        <tr>
          <th scope="row">10</th>
          <td>
            Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
            mengangkat kepalanya dengan tegak seperti pada gambar?
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question10"
                class="form-check-input"
                type="radio"
                [value]="value.satu"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question10"
                class="form-check-input"
                type="radio"
                [value]="value.dua"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question10"
                class="form-check-input"
                type="radio"
                [value]="value.tiga"
                checked
              />
            </div>
          </td>
          <td>
            <div class="form-check">
              <input
                formControlName="question10"
                class="form-check-input"
                type="radio"
                [value]="value.empat"
                checked
              />
            </div>
          </td>
        </tr>
        <!-- End - Row 10 -->
        <tr>
          <th colspan="2" scope="row">Jumlah</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="2" scope="row">Nilai Total</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <!-- End - Wool Merah Table -->
</mat-dialog-content>
<!-- Wool Merah Table -->
<!-- <button mat-button>Submit</button> -->

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
