<h2 mat-dialog-title>Petunjuk KPSP</h2>
<mat-dialog-content class="mat-typography">
  <!-- KPSP -->
  <ul class="list-outside list-disc px-6">
    <li>
      Tentukan umur anak dengan menanyakan tanggal bulan dan tahun anak lahir.
      Bila umur anak lebih 16 hari dibulatkan menjadi 1 bulan. Contoh: bayi umur
      3 bulan 16 hari, dibulatkan menjadi 4 bulan bila umur bayi 3 bulan 15
      hari, dibulatkan menjadi 3 bulan.
    </li>
    <li>
      Setelah menentukan umur anak, pilih KPSP yang sesuai dengan umur anak.
    </li>
    <li>Tanyakan tanggal lahir bayi/anak, hitung umur bayi/anak.</li>
    <li>
      Hasil pengukuran dicatat pada grafik lingkaran kepala menurut umur dan
      jenis kelamin anak.
    </li>
    <li>
      Buat garis yang menghubungkan antara ukuran yang lalu dengan ukuran
      sekarang
    </li>
    <li>
      KPSP terdiri ada 2 macam pertanyaan, yaitu:
      <ul class="list-outside list-disc px-6">
        <li>
          Pertanyaan yang dijawab oleh ibu/pengasuh anak, contoh: "Dapatkah bayi
          makan kue sendiri ?"
        </li>
        <li>
          Perintah kepada ibu/pengasuh anak atau petugas melaksanakan tugas yang
          tertulis pada KPSP. Contoh: "Pada posisi bayi anda telentang, tariklah
          bayi pada pergelangan tangannya secara perlahan-lahan ke posisi
          duduk''.
        </li>
      </ul>
    </li>
    <li>
      Jelaskan kepada orangtua agar tidak ragu−ragu atau takut menjawab, oleh
      karena itu pastikan ibu/pengasuh anak mengerti apa yang ditanyakan
      kepadanya.
    </li>
    <li>
      Tanyakan pertanyaan tersebut secara berurutan, satu persatu. Setiap
      pertanyaan hanya ada 1 jawaban, Ya atau Tidak. Catat jawaban tersebut pada
      formulir.
    </li>
    <li>
      Ajukan pertanyaan yang berikutnya setelah ibu/pengasuh anak menjawab
      pertanyaan terdahulu.
    </li>
    <li>Teliti kembali apakah semua pertanyaan telah dijawab.</li>
  </ul>
  <br />
  <!-- End - KPSP -->

  <!--  -->
  <p class="text-2xl">Questionnaire</p>
  <p class="text-2xl">Bayi Umur 3 Bulan</p>
  <p class="text-2xl">Alat dan bahan yang dibutuhkan:</p>

  <ul class="list-outside list-disc px-6">
    <li>Wool Merah</li>
  </ul>

  <br />
  <!-- Wool Merah Table -->
  <table class="border-black">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Questionare</th>
        <th style="width: 200px" scope="col">Aksi</th>
        <th style="width: 100px" scope="col">Jawaban</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          Pada waktu bayi terlentang, apakah masing-masing lengan dan tungkai
          bergerak dengan mudah? Jawaban TIDAK bila salah satu atau kedua
          tungkai atau lengan bayi bergerak tak terarah/tak terkendali
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          Pada waktu bayi terlentang apakah ia melihat dan menatap wajah anda?
        </td>
        <td>Sosialisasi dan Kemandirian</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          Apakah bayi dapat mengeluarkan suara-suara lain (ngoceh) selain
          menangis?
        </td>
        <td>Bicara dan Bahasa</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>
          Pada waktu anda mengajak bayi berbicara dan tersenyum, apakah ia
          tersenyum kembali kepada anda?
        </td>
        <td>Sosialisasi dan Kemandirian</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>
          Apakah bayi suka tertawa keras walau tidak digelitik atau diraba−raba?
        </td>
        <td>Bicara dan Bahasa</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>
          Ambil wool merah, letakkan di atas wajah di depan mata, gerakkan wool
          dari samping kiri ke kanan kepala. Apakah ia dapat mengikuti gerakan
          anda dengan menggerakkan kepalanya dari kanan/kiri ke tengah?
        </td>
        <td>Gerak Halus</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>
          Ambil wool merah, letakkan di atas wajah di depan mata, gerakkan wool
          dari samping kiri ke kanan kepala. Apakah ia dapat mengikuti gerakan
          anda dengan menggerakkan kepalanya dari satu sisi hampir sampai pada
          sisi yang lain?
        </td>
        <td>Gerak Halus</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>
          Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
          mengangkat kepalanya seperti pada gambar ini?
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>
          Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
          mengangkat kepalanya sehingga membentuk sudut 45 ̊ seperti pada gambar?
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>
          Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
          mengangkat kepalanya dengan tegak seperti pada gambar?
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th colspan="3" scope="row">Total</th>
        <td></td>
      </tr>
    </tbody>
  </table>

  <!-- End - Wool Merah Table -->
</mat-dialog-content>
<!-- Wool Merah Table -->

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
