<h2 mat-dialog-title>Petunjuk KPSP</h2>
<mat-dialog-content class="mat-typography">
  <!-- KPSP -->
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Pada waktu pemeriksaan/skrining, anak harus dibawa.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Tentukan umur anak dengan menanyakan tanggal bulan dan tahun anak lahir.
        Bila umur anak lebih 16 hari dibulatkan menjadi 1 bulan. Contoh: bayi
        umur 3 bulan 16 hari, dibulatkan menjadi 4 bulan bila umur bayi 3 bulan
        15 hari, dibulatkan menjadi 3 bulan.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Setelah menentukan umur anak, pilih KPSP yang sesuai dengan umur anak.
      </li></mat-list-item
    >
  </mat-list>
  <!-- FIXME: Nested list unfinished -->
  <mat-list role="list">
    <mat-list-item role="listitem">
      <li>KPSP terdiri ada 2 macam pertanyaan, yaitu:</li>
    </mat-list-item>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <li>
          Pertanyaan yang dijawab oleh ibu/pengasuh anak, contoh: "Dapatkah bayi
          makan kue sendiri ?"
        </li>
      </mat-list-item>
      <mat-list-item role="listitem">
        <li>
          Perintah kepada ibu/pengasuh anak atau petugas melaksanakan tugas yang
          tertulis pada KPSP. Contoh: "Pada posisi bayi anda telentang, tariklah
          bayi pada pergelangan tangannya secara perlahan-lahan ke posisi
          duduk''.
        </li>
      </mat-list-item>
    </mat-list>
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Jelaskan kepada orangtua agar tidak ragu−ragu atau takut menjawab, oleh
        karena itu pastikan ibu/pengasuh anak mengerti apa yang ditanyakan
        kepadanya.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Tanyakan pertanyaan tersebut secara berurutan, satu persatu. Setiap
        pertanyaan hanya ada 1 jawaban, Ya atau Tidak. Catat jawaban tersebut
        pada formulir.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Ajukan pertanyaan yang berikutnya setelah ibu/pengasuh anak menjawab
        pertanyaan terdahulu.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Teliti kembali apakah semua pertanyaan telah dijawab.
      </li></mat-list-item
    >
  </mat-list>
  <!-- End - KPSP -->

  <!--  -->
  <h3>Questionnaire</h3>
  <h3>Bayi Umur 3 Bulan</h3>
  <h3>Alat dan bahan yang dibutuhkan:</h3>
  <mat-list role="list">
    <mat-list-item role="listitem"> <li>Wool Merah</li> </mat-list-item>
  </mat-list>

  <!-- Wool Merah Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Questionare</th>
        <th style="width: 200px" scope="col">Aksi</th>
        <th style="width: 100px" scope="col">Jawaban</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          Pada waktu bayi terlentang, apakah masing-masing lengan dan tungkai
          bergerak dengan mudah? Jawaban TIDAK bila salah satu atau kedua
          tungkai atau lengan bayi bergerak tak terarah/tak terkendali
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          Pada waktu bayi terlentang apakah ia melihat dan menatap wajah anda?
        </td>
        <td>Sosialisasi dan Kemandirian</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          Apakah bayi dapat mengeluarkan suara-suara lain (ngoceh) selain
          menangis?
        </td>
        <td>Bicara dan Bahasa</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>
          Pada waktu anda mengajak bayi berbicara dan tersenyum, apakah ia
          tersenyum kembali kepada anda?
        </td>
        <td>Sosialisasi dan Kemandirian</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>
          Apakah bayi suka tertawa keras walau tidak digelitik atau diraba−raba?
        </td>
        <td>Bicara dan Bahasa</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>
          Ambil wool merah, letakkan di atas wajah di depan mata, gerakkan wool
          dari samping kiri ke kanan kepala. Apakah ia dapat mengikuti gerakan
          anda dengan menggerakkan kepalanya dari kanan/kiri ke tengah?
        </td>
        <td>Gerak Halus</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>
          Ambil wool merah, letakkan di atas wajah di depan mata, gerakkan wool
          dari samping kiri ke kanan kepala. Apakah ia dapat mengikuti gerakan
          anda dengan menggerakkan kepalanya dari satu sisi hampir sampai pada
          sisi yang lain?
        </td>
        <td>Gerak Halus</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>
          Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
          mengangkat kepalanya seperti pada gambar ini?
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>
          Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
          mengangkat kepalanya sehingga membentuk sudut 45 ̊ seperti pada gambar?
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>
          Pada waktu bayi telungkup di alas yang datar, apakah ia dapat
          mengangkat kepalanya dengan tegak seperti pada gambar?
        </td>
        <td>Gerak Kasar</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ya</mat-radio-button>
            <mat-radio-button value="2">Tidak</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <th colspan="3" scope="row">Total</th>
        <td></td>
        <!-- <td></td> -->
      </tr>
    </tbody>
  </table>

  <!-- End - Wool Merah Table -->
</mat-dialog-content>
<!-- Wool Merah Table -->

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
