<h2 mat-dialog-title>Petunjuk KPSP</h2>
<mat-dialog-content class="mat-typography">
  <!-- KPSP -->
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Pada waktu pemeriksaan/skrining, anak harus dibawa.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Tentukan umur anak dengan menanyakan tanggal bulan dan tahun anak lahir.
        Bila umur anak lebih 16 hari dibulatkan menjadi 1 bulan. Contoh: bayi
        umur 3 bulan 16 hari, dibulatkan menjadi 4 bulan bila umur bayi 3 bulan
        15 hari, dibulatkan menjadi 3 bulan.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Setelah menentukan umur anak, pilih KPSP yang sesuai dengan umur anak.
      </li></mat-list-item
    >
  </mat-list>
  <!-- FIXME: Nested list unfinished -->
  <mat-list role="list">
    <mat-list-item role="listitem">
      <li>KPSP terdiri ada 2 macam pertanyaan, yaitu:</li>
    </mat-list-item>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <li>
          Pertanyaan yang dijawab oleh ibu/pengasuh anak, contoh: "Dapatkah bayi
          makan kue sendiri ?"
        </li>
      </mat-list-item>
      <mat-list-item role="listitem">
        <li>
          Perintah kepada ibu/pengasuh anak atau petugas melaksanakan tugas yang
          tertulis pada KPSP. Contoh: "Pada posisi bayi anda telentang, tariklah
          bayi pada pergelangan tangannya secara perlahan-lahan ke posisi
          duduk''.
        </li>
      </mat-list-item>
    </mat-list>
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Baringkan bayi dengan hati−hati di atas timbangan sampai berhenti.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Petugas 2 : tangan kiri menekan lutut bayi agar lurus, tangan kanan
        menekan batas kaki ke telapak kaki.
      </li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>Petugas 2 membaca angka di tepi diluar pengukur.</li></mat-list-item
    >
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><li>
        Jika Anak umur 0 - 24 bulan diukur berdiri, maka hasil pengukurannya
        dikoreksi dengan menambahkan 0,7 cm.
      </li></mat-list-item
    >
  </mat-list>
  <!-- End - KPSP -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
