<div class="container">
  <h2 class="text-center" mat-dialog-title>
    Hasil Pemeriksaan Status Gizi IMT/U
  </h2>
  <article class="">
    <section class="users">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Tanggal Pemeriksaan</th>
            <th scope="col">Berat Badan</th>
            <th scope="col">Tinggi Badan</th>
            <th scope="col">Umur</th>
            <th scope="col">IMT</th>
            <th scope="col">ZCode</th>
            <th scope="col">Status Gizi</th>
            <th scope="col">Tindakan</th>
          </tr>
        </thead>
        <tbody *ngFor="let gizi of resultGiziImtU">
          <tr class="pointer">
            <th scope="row">{{ gizi.pemeriksaanStatusGiziImtUId }}</th>
            <th></th>
            <td>{{ gizi.beratBadan }}</td>
            <td>{{ gizi.tinggiBadan }}</td>
            <td>{{ gizi.umur }}</td>
            <td>{{ gizi.imt }}</td>
            <td>{{ gizi.zCode }}</td>
            <td>{{ gizi.statusGizi }}</td>
            <td>{{ gizi.tindakan }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>
</div>
