<div class="add-anak-container px-3">
  <!-- Titile -->
  <h2 class="my-title">Pemeriksaan Anak</h2>
  <!-- End - Title -->
  <h2 class="mb-3">Deteksi Dini Penyimpangan Pertumbuhan</h2>
  <form
    class="my-form"
    fxLayout="row"
    fxLayout.xs="column"
    gdColumns="900px 600px"
    fxLayoutGap="100px"
  >
    <!-- Tanggal Pemeriksaan -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>Tanggal Pemeriksaan</mat-label>
        <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- #enddocregion toggle -->
      </mat-form-field>
    </div>
    <!-- End - Tanggal Pemeriksaan -->
    <h2></h2>

    <!-- Berat Badan -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>Berat Badan</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openBeratBadan()">
        Petunjuk
      </button>
    </div>
    <!-- End - Berat Badan -->

    <!-- Tinggi Badan -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>Tinggi Badan</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openTinggiBadan()">
        Petunjuk
      </button>
    </div>
    <!-- End - Tinggi Badan -->

    <!-- Lingkar Kepala -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>Lingkar Kepala</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openLingkarKepala()">
        Petunjuk
      </button>
    </div>
    <!-- End - Lingkar Kepala -->

    <!-- IMT -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>IMT</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary">Petunjuk</button>
    </div>
    <!-- End - IMT -->

    <!-- KPSP -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>KPSP</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openKpsp()">
        Petunjuk
      </button>
    </div>
    <!-- End - KPSP -->

    <!-- Tes Daya Dengar -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>Tet Daya Dengar</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary">Petunjuk</button>
    </div>
    <!-- End - Tes Daya Dengar -->

    <!-- Tes Daya Lihat (Mata Kanan) -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>Tes Daya Lihat (Mata Kanan)</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary">Petunjuk</button>
    </div>
    <!-- End - Tes Daya Lihat (Mata Kanan) -->

    <!-- Tes Daya Lihat (Mata Kiri) -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>Tes Daya Lihat (Mata Kiri)</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary">Petunjuk</button>
    </div>
    <!-- End - Tes Daya Lihat (Mata Kanan) -->

    <!-- Deteksi Dini Penyimpangan Perilaku Emosional -->
    <h2>Deteksi Dini Penyimpangan Perilaku Emosional</h2>
    <h2></h2>

    <!-- KMPE -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>KMPE</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary">Petunjuk</button>
    </div>
    <!-- End - KMPE -->

    <!-- M-CHAT -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>M-CHAT</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary">Petunjuk</button>
    </div>
    <!-- End - M-CHAT -->

    <!-- GPPH -->
    <div class="mb-5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field class="my-full-width" appearance="fill">
        <mat-label>GPPH</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openGpph()">
        Petunjuk
      </button>
    </div>
    <!-- End - GPPH -->
  </form>
</div>
