<section class="my-6 relative h-full py-16">
  <div class="xl:container mx-auto py-7 my-16 px-7">
    <!--  -->
    <div class="flex">
      <div>
        <button mat-button>
          <mat-icon
            [routerLink]="['/anak-members']"
            routerLinkActive="router-link-active"
            >arrow_back</mat-icon
          >
        </button>
      </div>
      <h2 class="mat-title">Detail Informasi</h2>
    </div>
    <!--  -->

    <!--  -->
    <div app-grid container="true" spacing="7">
      <!--  -->
      <div app-grid item="true" xs="3">
        <div class="relative">
          <div class="px-9 pb-9 w-full absolute top-0">
            <div class="rounded-xl shadow-lg overflow-hidden">
              <div style="height: 189px" class="w-full bg-blue-100">
                <img src="{{ memberAnak?.imagePath }}" />
              </div>
            </div>
          </div>
          <div style="height: 107px"></div>
          <div class="bg-white overflow-hidden shadow-xl rounded-xl">
            <div style="height: 82px; margin-bottom: 24px"></div>
            <div class="text-center pb-2 mb-4">
              <h3 class="mat-subheading-2">{{ memberAnak?.namaLengkap }}</h3>
              <p class="mat-body text-black text-opacity-50">
                {{ageCalculator(memberAnak?.tanggalLahirAnak)}}<span
                  class="inline-block w-2 h-2 mx-2 rounded-full bg-blue-700"
                ></span>
                {{ memberAnak?.jenisKelamin }}
              </p>
            </div>
            <hr class="border-blue-100 border-opacity-50" />
            <div class="p-4">
              <table class="mat-body">
                <tr>
                  <td class="text-blue-700 font-bold pr-2">NIK</td>
                  <td class="text-black text-opacity-50 pl-2">
                    {{ memberAnak?.nik }}
                  </td>
                </tr>
                <tr>
                  <td class="text-blue-700 font-bold pr-2">Tanggal Lahir</td>
                  <td class="text-black text-opacity-50 pl-2">
                    {{ memberAnak?.tanggalLahirAnak | date:'longDate' }}
                  </td>
                </tr>
                <tr>
                  <td class="text-blue-700 font-bold pr-2">Nama Ayah</td>
                  <td class="text-black text-opacity-50 pl-2">
                    {{ memberAnak?.namaAyah }}
                  </td>
                </tr>
                <tr>
                  <td class="text-blue-700 font-bold pr-2">Nama Ibu</td>
                  <td class="text-black text-opacity-50 pl-2">
                    {{ memberAnak?.namaIbu }}
                  </td>
                </tr>
                <tr>
                  <td class="text-blue-700 font-bold pr-2">Kontak</td>
                  <td class="text-black text-opacity-50 pl-2">
                    {{ memberAnak?.kontak }}
                  </td>
                </tr>
              </table>
              <div class="py-4">
                <hr class="border-blue-100 border-opacity-50" />
              </div>
              <div class="mat-body text-center">
                <p class="text-blue-700 font-bold">Alamat lengkap</p>
                <p class="text-black text-opacity-50">
                  {{ memberAnak?.alamat }}
                </p>
              </div>
            </div>
            <div
              class="
                flex
                border-blue-100 border-t border-opacity-50
                justify-between
              "
            >
              <button style="width: 100%; height: 52px" mat-button>
                EDIT&nbsp;<mat-icon
                  routerLink="/anak-members/edit/{{ memberAnak?.id }}"
                  routerLinkActive="router-link-active"
                  >edit</mat-icon
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      <div app-grid item="true" xs="9">
        <div class="rounded-xl mb-4 border bg-white border-blue-100">
          <a [routerLink]="['./', 'kesehatan']" routerLinkActive="active" class="uppercase text-black text-opacity-50" mat-button>Kesehatan</a>
          <a [routerLink]="['./', 'jadwal-imunisasi']" routerLinkActive="active" class="uppercase text-black text-opacity-50" mat-button>Jadwal imunisasi</a>
          <a [routerLink]="['']" class="uppercase text-black text-opacity-50" mat-button>Grafik</a>
          <a [routerLink]="['./', 'riwayat-kelahiran']" class="uppercase text-black text-opacity-50" mat-button>Riwayat Kelahiran</a>
          <a [routerLink]="['./', 'riwayat-keluarga']" class="uppercase text-black text-opacity-50" mat-button>Riwayat Keluarga</a>
          <a [routerLink]="['./', 'kesehatan-gigi']" class="uppercase text-black text-opacity-50" mat-button>Kesehatan Gigi</a>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
