/* .img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
} */
.detail-anak {
  margin-bottom: 20px;
}
.h2 {
  color: #3f51b5;
  font-size: 30px;
  text-shadow: 1px 1px 2px grey;
  margin: 20px 0;
  text-align: center;
}
section {
  padding: 0 20px;
}
section div p {
  color: #3f51b5;
  font-size: 30px;
  text-shadow: 1px 1px 2px grey;
  margin: 30px 0;
}

section div + p {
  color: #3f51b5;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
/* mat-tab-group {
  text-align: center;
} */

mat-tab-group p {
  padding-top: 20px;
}
