<h2 class="h2" *ngIf="memberAnak">
  Detail Informasi {{ memberAnak.namaLengkap }}
</h2>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" *ngIf="memberAnak">
  <!-- Detail profile anak -->
  <div class="col-3">
    <div class="card">
      <!-- Photo Anak -->
      <img
        [src]="memberAnak.imagePath"
        alt="{{ memberAnak.namaLengkap }}"
        class="card-img-top img-thumbnail"
      />
      <!-- End - Photo anak -->
      <!-- Informasi anak -->
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Nama Anak</th>
              <th scope="col">{{ memberAnak.namaLengkap }}</th>
            </tr>
            <tr>
              <th scope="col">NIK</th>
              <th scope="col">{{ memberAnak.nik }}</th>
            </tr>
            <tr>
              <th scope="col">Jenis Kelamin</th>
              <th scope="col">{{ memberAnak.jenisKelaminAnak }}</th>
            </tr>
            <tr>
              <th scope="col">Tanggal Lahir</th>
              <th scope="col">
                {{ memberAnak.tanggalLahirAnak | date: "MMMM d, y" }}
              </th>
            </tr>
            <tr>
              <th scope="col">Alamat Lengkap</th>
              <th scope="col">{{ memberAnak.alamat }}</th>
            </tr>
            <tr>
              <th scope="col">Kontak</th>
              <th scope="col">{{ memberAnak.kontak }}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End - Informasi anak -->
      <!--  -->
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button
            mat-raised-button
            color="primary"
            routerLink="/anak-members/edit/{{ memberAnak.dataAnakId }}"
            style="margin-right: 5px"
          >
            Edit
          </button>
          <button (click)="delete()" mat-raised-button color="warn">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End - Detail profile anak -->

  <!-- Tab Menu Details -->
  <div class="col-9">
    <section fxLayout="column" fxFlexAlign="start">
      <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Riwayat Penyakit">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Jumalah Saudara</th>
                <th scope="col">{{ memberAnak.jumlahSaudara }}</th>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <!-- Riwayat Kelahiran Tab -->
        <mat-tab label="Riwayat Kelahiran">
          <app-riwayat-kelahiran-tab></app-riwayat-kelahiran-tab>
        </mat-tab>
        <!-- End - Riwayat Kelahiran Tab -->
        <!-- Riwayat Orang Tua Tab -->
        <mat-tab label="Riwayat Orang Tua">
          <app-riwayat-orang-tua-tab></app-riwayat-orang-tua-tab>
        </mat-tab>
        <mat-tab label="Jadwal Imunisasi">
          <app-jadwal-imunisasi-tab></app-jadwal-imunisasi-tab>
        </mat-tab>
        <!-- End - Riwayat Orang Tua Tab -->
        <!-- Kesehatan Anak Tab -->
        <mat-tab label="Kesehatan Anak">
          <app-kesehatan-tab></app-kesehatan-tab>
          <!-- <button
            type="submit"
            mat-raised-button
            color="primary"
            routerLink="/anak-members/pemeriksaan-kesehatan/{{
              memberAnak.dataAnakId
            }}"
          >
            InputPemeriksaan
          </button> -->
        </mat-tab>
        <!-- End - Tab Kesehatan Anak -->
        <!-- Grafik Tab -->
        <mat-tab label="Grafik">
          <p>
            By using material components, we are going to create fully
            responsive navigation menu, with its side-bar as well.
          </p>
        </mat-tab>
        <!-- End - Grafik Tab -->
      </mat-tab-group>
    </section>
    <!-- End - Menu Details Content -->
  </div>
  <!-- End - Tab Menu Details -->
</div>
