a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}
mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.lgin-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}
